# Ignore android build outputs & generated assets
android/output/
android/template/app/build/
android/template/.gradle/
android/template/app/src/main/assets/

# Python cache & OS
__pycache__/
*.pyc
*.apk
*.zip
temp_patch/
Thumbs.db
desktop.ini
